<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UDDIInquiryService" value="TestUddiInquireUrl" />
    <add key="UDDIDiscoverSites" value="true"/>
    <add key="UDDIExpireDiscoveredSitesAfterHrs" value="10.0027777777777778"/>
    <add key="UDDIDefaultServiceHost" value="localhost"/>
  </appSettings>

  <!--uri>
    <idn enabled="All" />
    <iriParsing enabled="false" />
  </uri-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
