<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResolver" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ResolutionService/Resolver.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResolver"
                contract="ResolutionService.IResolver" name="BasicHttpBinding_IResolver" />
        </client>
    </system.serviceModel>
</configuration>